/bin/
/build/
/out/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

/pkg/
/vendor/

go.sum

/.idea/
/.vscode/
/*.swp
*~
.DS_Store

*.log

*.out
*.coverprofile

docker-compose.override.yml
.env

Thumbs.db

vcs.xml